%h1
  ABOUT

Atoms and molecules are substances that collectively make up practically every piece of matter that we will ever encounter but individually are so miniscule that they defy direct
observation. In this lecture, you will discover how chemists deal with dramatically small—and large—numbers in measurement. You will learn about length and mass, 2 measurements that are so small in atoms that they defy conventional units. You also will learn how chemists count atoms and molecules and think about temperature. Finally, you will review issues of uncertainty in measurements.
